<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <link rel="stylesheet" href="{{ asset('css/error404.css') }}">
        <title>'Error 404'</title>
    </head>
    <body>
    <div class="Error404Container">
        <img src="{{ asset('images/under_construction.gif') }}" alt="Under construction" />
        </div>
    </body>
</html>


